/* game board table */
body {
  background-color: rgba(255, 180, 59, 0.4);
}

#container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  justify-content: center;
  display: table;
}

#prompt {
  width: 90%;
  justify-content: center;
  text-align: center;
  background-color: slategray;
  padding: 1rem;
  border-radius: 1em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
  overflow: hidden;
  
}

#prompt h1 {
  width: 40rem;
  
  margin: 0 auto;
  font-weight: bolder;
  color: white;
  font-size: 3rem;
  justify-content: center;
}

#inputs {
  position: relative;
  width: 30rem;
  justify-content: center;
  height:auto;
  margin: 0 auto;
  text-align: center;
  padding:1rem;
}

label {
  color:white;
  font-weight: bold;
}

#wide, #high {
  width: 5rem;
}

button {
  background-color: white;
  color: darkslategray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.3em;
  padding:.3em;
  
}

#reset {
  position: relative;
  text-align: center;
  height:auto;
  margin: 0 auto;
  display: table-cell;
}

#game {
  width:90%;
  position: relative;
  margin: 0 auto;
  padding: 2em;
  display: table;
  
}

#board {
  width:auto;
  margin: 0 auto;
  position: relative;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px gold;
  background-color:tomato;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.player1 {
  background-color: white;
}

.player2 {
  background-color:darkslategray;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px;
  border-color: tomato;
  transition: 150ms;
  background-color: gold;
}

#column-top td:hover {
  background-color: tomato;
  border-color: gold;
}
